body { padding: 0; }

section.home {
  
  padding-bottom: 69px;
  overflow: hidden;
  
  .container { 
    background: none; 
    min-height: 0;
  }
  
  h2 { display: none; }
  
  .elevator-pitch {
    font-size: 20px;
    position: static;
    text-align: center;
    padding-top: 20px;
    height: 200px;
  }
  
  .sky { min-height: 0; }
  .cloud-1 { top: -99999px; }
  .cloud-2 { top: 15%; }
  .cloud-3 { top: 35%; }
  .cloud-4 { top: 55%; }
  
}

section.services {
  
  .primary {
    border-bottom: 0; 
    margin: 0;
    padding: 0;
    
    .major { 
      margin: 20px 15px;
      padding: 20px 0;
      background: none; 
      padding: 0;
      border-bottom: 1px solid #d7d7d7;
    }
    
    .ui {
      margin-top: 0;
    }
    
    .consulting {
      border-bottom: 0;
    }
  }
  
  .secondary {
    display: none;
  }
}

section.portfolio, section.about-us { display: none; }

section.contact {
  .contact-us {
    margin: 0 15px;
    
    form {
      width: 290px;
      margin: 0 auto;
      
      .name { display: none; }
      .email { 
        float: none; width: 100%;

        input { width: 276px; }
      }
      .message {
        float: none; width: 100%;

        textarea { width: 276px; }
      }
      
    }
    
  }
  
  .media { display: none; }
}