@import url(bootstrap.css);
/*
  GLOSSARY
  
  <BASE>
  <TYPOGRAPHY>
  <GENERAL>
  <HEADER>
  <HOME>
  <SERVICES>
  <PORTFOLIO>
  <ABOUT US>
  <CONTACT>
  <FOOTER>
*/
/* BEGIN <BASE> */
.asset-sprite, section.about-us header ul.statements li.selected a, section.about-us header ul.mates li.dave-jafari a, section.about-us header ul.mates li.trent-kocurek a, section.about-us header ul.mates li.despi-raggousis a {
  background: url('../images/asset-s7c7aa503a1.png') no-repeat; }

/* END <BASE> */
/* BEGIN <TYPOGRAPHY> */
body, h1, h2, h3, h4, h5, h6 {
  font-family: "PT Sans Narrow", "Verdana";
  font-weight: 400;
  letter-spacing: .03em;
  line-height: 1.5; }

p {
  font-family: Georgia;
  font-size: 16px;
  line-height: 1.5; }

/* END <TYPOGRAPHY> */
/* BEGIN <GENERAL> */
a.button {
  display: block;
  float: left;
  line-height: 60px;
  height: 60px;
  padding: 0 30px 0 66px;
  font-size: 20px;
  letter-spacing: 1px;
  text-decoration: none;
  background: #fbe6e6;
  border: solid 1px #914207;
  text-transform: uppercase;
  font-weight: bold;
  color: #914207;
  margin-right: 20px;
  -moz-border-radius: 5px;
  -khtml-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px; }

a.button:hover {
  color: #652e05;
  border-color: #652e05;
  -moz-box-shadow: 0 2px 2px rgba(80, 80, 80, 0.2);
  -webkit-box-shadow: 0 2px 2px rgba(80, 80, 80, 0.2);
  box-shadow: 0 2px 2px rgba(80, 80, 80, 0.2); }

a.button:active {
  box-shadow: 0;
  -webkit-box-shadow: 0;
  -moz-box-shadow: 0;
  position: relative;
  top: 2px; }

ol, ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

hr {
  border: 0;
  border-top: 1px solid #000;
  border-bottom: 1px solid #fff;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  filter: alpha(opacity=30);
  clear: both;
  height: 0;
  margin-bottom: 1em; }

section {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(0, 0, 0, 0.3); }

/* END <GENERAL> */
/* BEGIN <HEADER> */
header.primary {
  background: url("../images/black-linen.jpg");
  color: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  padding: 10px 0;
  -moz-box-shadow: inset 0px -3px 6px black;
  -webkit-box-shadow: inset 0px -3px 6px black;
  box-shadow: inset 0px -3px 6px #222222; }
  header.primary h1.logo {
    background: url("../images/logo-header.png") center center no-repeat;
    height: 48px;
    width: 48px;
    float: left; }
  header.primary h1.name {
    text-transform: uppercase;
    font-size: 24px;
    float: left;
    line-height: 48px;
    margin: 0 0 0 8px;
    position: relative;
    top: 3px;
    text-shadow: 0 1px 0 black; }
  header.primary nav {
    float: right;
    line-height: 18px;
    padding-top: 6px; }
    header.primary nav li {
      float: left;
      margin: 0 0 0 20px;
      padding: 0 0 0 20px;
      border-left: 1px solid rgba(255, 255, 255, 0.3); }
      header.primary nav li:first-child {
        border-left: 0; }
      header.primary nav li a {
        font-size: 18px;
        color: white; }
        header.primary nav li a:hover {
          color: white; }
      header.primary nav li .subtext {
        font-size: 14px;
        display: block;
        color: #cecece; }

/* END <HEADER> */
/* BEGIN <HOME> */
section.home {
  position: relative;
  border-top: 0; }
  section.home .container {
    position: relative;
    z-index: 2;
    height: 625px;
    background: url("../images/home-city.png") 0px 131px no-repeat transparent; }
  section.home .sky {
    position: absolute;
    top: 0;
    background: url("../images/home-bg-sky.jpg") top left repeat-x;
    height: 572px;
    width: 100%; }
  section.home .ground {
    position: absolute;
    top: 572px;
    background: url("../images/home-bg-ground.jpg") top left repeat-x;
    height: 53px;
    width: 100%; }
  section.home h2 {
    text-indent: -9999px; }
  section.home .elevator-pitch {
    position: absolute;
    top: 80px;
    left: 40px;
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 40px; }
    section.home .elevator-pitch span {
      display: block; }
    section.home .elevator-pitch .development {
      color: #00d4f2;
      letter-spacing: 1px;
      word-spacing: 4px; }
    section.home .elevator-pitch .cms {
      color: #2ab2c3;
      letter-spacing: 1px; }
    section.home .elevator-pitch .ui {
      color: #00d4f2;
      letter-spacing: 4px;
      word-spacing: 1px; }
    section.home .elevator-pitch .graphic-design {
      color: #2ab2c3;
      letter-spacing: 5px;
      word-spacing: -1px; }
    section.home .elevator-pitch .how {
      color: #ff8400;
      letter-spacing: 3px;
      word-spacing: 4px; }

/* END <HOME> */
/* BEGIN <SERVICES> */
section.services .primary {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  border-bottom: 1px solid #d7d7d7;
  background: url("../images/services-divider.jpg") 490px center no-repeat; }
  section.services .primary h3 {
    font-size: 32px;
    color: #1b1b1b;
    font-weight: 700;
    line-height: 40px; }
  section.services .primary .subtitle {
    font-size: 24px;
    line-height: 40px;
    color: #1b1b1b;
    font-weight: 700;
    margin-bottom: 5px; }
  section.services .primary p {
    color: #333;
    padding: 0 15px; }
  section.services .primary .websites {
    background: url("../images/services-cms.jpg") center 220px no-repeat;
    padding: 0 0 200px 0; }
  section.services .primary .applications {
    background: url("../images/services-development.png") center 220px no-repeat;
    padding: 0 0 200px 0; }
  section.services .primary .ui {
    background: url("../images/services-userexperience.jpg") center 170px no-repeat;
    padding: 0 0 200px 0; }
  section.services .primary .consulting {
    background: url("../images/services-consulting.jpg") center 170px no-repeat;
    padding: 0 0 200px 0; }
section.services .secondary {
  margin-top: 30px;
  margin-bottom: 30px;
  color: #1b1b1b; }
  section.services .secondary h4 {
    font-size: 18px;
    line-height: 30px; }
  section.services .secondary li {
    font-size: 14px;
    line-height: 24px; }

/* END <SERVICES> */
/* BEGIN <PORTFOLIO> */
section.portfolio {
  border-top: 0;
  border-bottom: 0;
  background: url("../images/portfolio-bg.jpg") top left repeat-x;
  height: 675px;
  padding-top: 30px; }
  section.portfolio h2 {
    text-indent: -9999px;
    background: url("../images/portfolio-title.png") center left no-repeat;
    height: 31px;
    margin-bottom: 30px; }
  section.portfolio .projects {
    background: url("../images/portfolio-container.png") 0px 0 no-repeat;
    height: 541px;
    width: 945px;
    position: relative;
    left: -2px; }
    section.portfolio .projects .visuals {
      height: 475px; }
      section.portfolio .projects .visuals .visual {
        text-align: center;
        height: 475px;
        position: relative; }
        section.portfolio .projects .visuals .visual img {
          position: absolute;
          bottom: 0; }
        section.portfolio .projects .visuals .visual::before {
          background-image: url("../images/portfolio-visual-shadow-left.png");
          content: "";
          display: block;
          width: 26px;
          height: 429px;
          position: absolute;
          bottom: 0;
          left: 36px; }
        section.portfolio .projects .visuals .visual::after {
          background-image: url("../images/portfolio-visual-shadow-right.png");
          content: "";
          display: block;
          width: 26px;
          height: 429px;
          position: absolute;
          bottom: 0;
          right: 36px; }
    section.portfolio .projects .control-bar, section.portfolio .projects .control-bar a, section.portfolio .projects .control-bar a:active, section.portfolio .projects .control-bar h3 {
      line-height: 56px;
      height: 56px;
      font-size: 18px;
      font-weight: 700;
      font-family: "PT Sans Narrow", "Verdana";
      color: #ebbca3;
      text-shadow: 0 1px 0 rgba(0, 0, 0, 0.7); }
    section.portfolio .projects .control-bar {
      position: relative; }
      section.portfolio .projects .control-bar a {
        position: absolute;
        right: -1px;
        text-indent: 30px;
        width: 179px;
        background: url("../images/portfolio-button-arrow.png") 132px 9px no-repeat; }
        section.portfolio .projects .control-bar a:active {
          color: #ac785d;
          background: url("../images/portfolio-button-pressed.png") top left no-repeat;
          padding-top: 4px;
          top: -2px; }
        section.portfolio .projects .control-bar a:hover {
          text-decoration: none; }
      section.portfolio .projects .control-bar ul {
        position: absolute;
        left: 50%;
        top: 13px;
        margin-left: -26px; }
        section.portfolio .projects .control-bar ul li {
          float: left;
          text-indent: -9999px;
          background: url("../images/portfolio-project-unselected.png") top left no-repeat;
          height: 26px;
          width: 24px;
          margin-right: 2px;
          cursor: pointer; }
        section.portfolio .projects .control-bar ul li.selected {
          background-image: url("../images/portfolio-project-selected.png"); }
      section.portfolio .projects .control-bar h3 {
        position: absolute;
        left: 15px; }

/* END <PORTFOLIO> */
/* BEGIN <ABOUT US> */
section.about-us {
  background: url("../images/aboutus-wallshadow.jpg") bottom left repeat-x;
  border-bottom: 1px solid #d7d7d7; }
  section.about-us header {
    border-bottom: 1px solid #d7d7d7;
    height: 80px;
    color: #1b1b1b;
    position: relative; }
    section.about-us header h2 {
      font-size: 32px;
      line-height: 80px;
      float: left; }
    section.about-us header ul.statements {
      position: absolute;
      left: 50%;
      top: 50%;
      margin-top: -22px;
      margin-left: -117px;
      text-align: center; }
      section.about-us header ul.statements li {
        float: left;
        margin-right: 10px; }
        section.about-us header ul.statements li a {
          color: #1b1b1b;
          width: 112px;
          height: 43px;
          line-height: 43px;
          display: block;
          font-size: 18px; }
          section.about-us header ul.statements li a:hover {
            text-decoration: none; }
        section.about-us header ul.statements li.selected a {
          background-position: 0 -153px;
          color: #012f00;
          text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7); }
    section.about-us header ul.mates {
      position: absolute;
      right: 0;
      top: 50%;
      margin-top: -25px; }
      section.about-us header ul.mates li {
        float: left;
        margin-left: 10px; }
        section.about-us header ul.mates li a {
          height: 48px;
          width: 48px;
          text-indent: -9999px;
          display: block;
          border-radius: 5px;
          -webkit-box-shadow: 0px 1px 3px black;
          -moz-box-shadow: 0px 1px 3px black;
          box-shadow: 0px 1px 3px black; }
          section.about-us header ul.mates li a:active {
            position: relative;
            top: 2px; }
        section.about-us header ul.mates li.selected a {
          border: 1px solid #14d605; }
        section.about-us header ul.mates li.dave-jafari a {
          background-position: 0 -102px; }
        section.about-us header ul.mates li.trent-kocurek a {
          background-position: 0 -51px; }
        section.about-us header ul.mates li.despi-raggousis a {
          background-position: 0 0; }
  section.about-us .content {
    height: 620px;
    color: #5c5c5c;
    font-size: 16px;
    margin-bottom: 0; }
    section.about-us .content h3 {
      color: #333;
      font-size: 24px;
      font-weight: 700;
      line-height: 32px;
      margin-bottom: 9px; }
    section.about-us .content .item {
      height: 620px; }
    section.about-us .content .role {
      font-size: 16px;
      margin-bottom: 8px;
      font-family: "PT Sans Narrow", "Verdana";
      font-weight: 400; }
    section.about-us .content .our-values .copy, section.about-us .content .how-we-work .copy {
      height: 580px;
      padding: 40px 500px 0 0;
      background: url("../images/aboutus-desk.png") bottom right no-repeat; }
      section.about-us .content .our-values .copy h3, section.about-us .content .how-we-work .copy h3 {
        text-align: center; }
    section.about-us .content .trent-kocurek .copy {
      height: 500px;
      padding: 150px 450px 0 30px;
      background: url("../images/aboutus-trentk.png") 625px 40px no-repeat; }

/* END <ABOUT US> */
/* BEGIN <CONTACT> */
.contact {
  color: #1a1a1a;
  border-color: #542437;
  background-color: #ffedf4;
  background-image: url("../images/cityscape.gif");
  background-position: bottom center;
  background-repeat: repeat-x;
  padding: 30px 0 320px 0; }

.contact .container_16 {
  padding-top: 20px; }

.contact h2, .contact h3 {
  color: #542437; }

.contact h2 {
  font-size: 32px; }

.contact h3 {
  font-size: 24px; }

.contact a.button:hover {
  color: #542437;
  border-color: #542437; }

.contact .form-input {
  margin-bottom: 8px; }

.contact p,
.contact hr {
  margin-bottom: 16px; }

.contact-us label {
  display: block;
  color: #999;
  font-size: 18px; }

.contact-us .name, .contact-us .email {
  width: 48%;
  float: left; }

.contact-us .name {
  margin-right: 4%; }

.contact-us input, .contact-us textarea {
  border: 1px solid #999;
  font-size: 16px;
  padding: 8px 6px;
  width: 287px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0px 1px 1px; }

.contact-us textarea {
  width: 608px; }

.contact-us input.selected, .contact-us textarea.selected {
  border-color: #542437; }

.contact .contact-us .actions .button {
  background-color: white;
  color: #aaa;
  border-color: #a1a1a1;
  font-size: 16px;
  line-height: 32px;
  height: 32px;
  margin: 0 0 10px 0;
  float: right;
  padding: 0 18px; }

.media li {
  margin-bottom: 10px; }

.media a {
  margin-left: 2px;
  color: #999;
  text-decoration: none;
  display: block;
  line-height: 42px;
  font-size: 18px;
  padding-left: 54px;
  background-image: url("../images/media-icons.png");
  background-repeat: no-repeat; }

.media a:hover {
  color: #542437; }

.media li.email a {
  background-position: 0 0; }

.media li.email a:hover {
  background-position: 0 -50px; }

.media li.twitter a {
  background-position: 0 -100px; }

.media li.twitter a:hover {
  background-position: 0 -150px; }

.media li.facebook a {
  background-position: 0 -200px; }

.media li.facebook a:hover {
  background-position: 0 -250px; }

/* END <CONTACT> */
/* BEGIN <FOOTER> */
/* END <FOOTER> */
