/*
  GLOSSARY
  
  <BASE>
  <TYPOGRAPHY>
  <GENERAL>
  <HEADER>
  <HOME>
  <SERVICES>
  <PORTFOLIO>
  <ABOUT US>
  <CONTACT>
  <FOOTER>
*/

/* BEGIN <BASE> */

@import "asset/*.png";

@import "bootstrap.css";

$border-transparent-dark: 1px solid rgba(0,0,0,0.3);
$border-transparent-light: 1px solid rgba(255,255,255,0.3);

$font-family-primary: "PT Sans Narrow", "Verdana";
$font-family-body: Georgia;
$font-weight-bold: 700;
$font-weight-normal: 400;

@mixin inset-box-shadow($horizontal, $vertical) {
  -moz-box-shadow:    inset unquote($horizontal+"px") unquote($vertical+"px") unquote(2*if(abs($horizontal) > abs($vertical), abs($horizontal), abs($vertical))+"px") #000;
  -webkit-box-shadow: inset unquote($horizontal+"px") unquote($vertical+"px") unquote(2*if(abs($horizontal) > abs($vertical), abs($horizontal), abs($vertical))+"px") #000;
  box-shadow:         inset unquote($horizontal+"px") unquote($vertical+"px") unquote(2*if(abs($horizontal) > abs($vertical), abs($horizontal), abs($vertical))+"px") #222;
}

@mixin box-shadow($horizontal, $color) {
  -webkit-box-shadow:  0px unquote($horizontal+"px") 3px $color;
  -moz-box-shadow:  0px unquote($horizontal+"px") 3px $color;
  box-shadow:  0px unquote($horizontal+"px") 3px $color;
}

/* END <BASE> */

/* BEGIN <TYPOGRAPHY> */

body, h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-primary;
  font-weight: $font-weight-normal;
  letter-spacing: .03em;
  line-height: 1.5;
}

p {
  font-family: $font-family-body;
  font-size: 16px;
  line-height: 1.5;
}

/* END <TYPOGRAPHY> */

/* BEGIN <GENERAL> */

a.button {
  display:block; 
  float:left; 
  line-height:60px; 
  height:60px; 
  padding:0 30px 0 66px; 
  font-size:20px; 
  letter-spacing: 1px;
  text-decoration:none; 
  background:#fbe6e6; 
  border:solid 1px #914207; 
  text-transform:uppercase; 
  font-weight:bold; 
  color:#914207; 
  margin-right:20px; 
  -moz-border-radius:5px; 
  -khtml-border-radius:5px; 
  -webkit-border-radius:5px; 
  border-radius:5px;
  }
a.button:hover {
  color:#652e05; 
  border-color:#652e05; 
  -moz-box-shadow:0 2px 2px rgba(80, 80, 80, 0.2); 
  -webkit-box-shadow:0 2px 2px rgba(80, 80, 80, 0.2); 
  box-shadow:0 2px 2px rgba(80, 80, 80, 0.2);
}
a.button:active {
  box-shadow: 0;
  -webkit-box-shadow: 0;
  -moz-box-shadow: 0;
  position: relative;
  top: 2px;
}

ol, ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

hr {
  border: 0;
  border-top: 1px solid #000;
  border-bottom: 1px solid #fff;
  border-top: 1px solid rgba(0,0,0,0.1);
  border-bottom: 1px solid rgba(255,255,255,0.3);
  filter: alpha(opacity = 30);
  clear: both;
  height: 0;
  margin-bottom: 1em;
}

section {
  border-top: $border-transparent-light;
  border-bottom: $border-transparent-dark;
}

/* END <GENERAL> */

/* BEGIN <HEADER> */

header.primary {
  background: url('../images/black-linen.jpg');
  color: white;
  border-bottom: $border-transparent-dark;
  padding: 10px 0;
  z-index: 999;
  @include inset-box-shadow(0, -3);

  h1 { cursor: pointer; }

  h1.logo {
    background: url('../images/logo-header.png') center center no-repeat;
    height: 48px;
    width: 48px;
    float: left;
  }

  h1.name {
    text-transform: uppercase;
    font-size: 24px;
    float: left;
    line-height: 48px;
    margin: 0 0 0 8px;
    position: relative;
    top: 3px;
    text-shadow: 0 1px 0 black;
  }

  nav {
    float: right;
    line-height: 18px;
    padding-top: 6px;
    
    li {
      float: left;
      margin: 0 0 0 20px;
      padding: 0 0 0 20px;
      border-left: $border-transparent-light;
      
      &:first-child { border-left: 0; }
      
      a {
        font-size: 18px;
        color: white;
        
        &:hover { color: white; }
      }
      .subtext {
        font-size: 14px;
        display: block;
        color: #cecece;
      }
    }
    
    li.active {
      a { font-weight: bold; }
      .subtext { color: white; }
    }
  }

}

/* END <HEADER> */

/* BEGIN <HOME> */

section.home {
  
  position: relative;
  border-top: 0;
  background: url('../images/home-bg-ground.jpg') bottom left repeat-x;
  
  .cloud {
    background-image: url('../images/home-clouds.png');
    background-repeat: no-repeat;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
  }
  
  .cloud-1 {
    height: 90px;
    width: 215px;
    background-position: 0 0;
    top: 22%;
  }
  
  .cloud-2 {
    height: 45px;
    width: 130px;
    background-position: 0 -87px;
    top: 50%;
  }
  
  .cloud-3 {
    height: 50px;
    width: 130px;
    background-position: 0 -132px;
    top: 55%;
  }
  
  .cloud-4 {
    height: 28px;
    width: 52px;
    background-position: 0 -187px;
    top: 60%;
  }
  
  .container { 
    position: relative; 
    z-index: 2; 
    min-height: 625px;
    height: 100%;
    background: url('../images/home-city.png') 0 131px no-repeat transparent;
    background-position-y: bottom;
  }
  
  .sky {
    position: absolute;
    top: 0;
    background: url('../images/home-bg-sky.jpg') top left repeat-x;
    min-height: 572px;
    height: 100%;
    z-index: -2;
    width: 100%;
  }
  
  .ground {
    position: absolute;
    top: 572px; 
    background: url('../images/home-bg-ground.jpg') top left repeat-x;
    height: 53px;
    width: 100%;
  }
  
  h2 { 
    text-indent: -9999px;
  }
  
  .elevator-pitch {
    position: absolute;
    top: 15%;
    left: 40px;
    font-size: 32px;
    font-weight: $font-weight-bold;
    text-transform: uppercase;
    line-height: 40px;
    
    span { display: block; }
    
    .development { color: #00daf9; letter-spacing: 1px; word-spacing: 4px; }
    .cms { color: #2ab2c3; letter-spacing: 1px; }
    .ui { color: #00daf9; letter-spacing: 4px; word-spacing: 1px; }
    .graphic-design { color: #2ab2c3; letter-spacing: 5px; word-spacing: -1px; }
    .how { color: #ff8400; letter-spacing: 3px; word-spacing: 4px; } 
  }
  
}

/* END <HOME> */

/* BEGIN <SERVICES> */

section.services {
  
  .primary {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    border-bottom: 1px solid #d7d7d7;
    background: url('../images/services-divider.jpg') 490px center no-repeat;
    
    h3 {
      font-size: 32px;
      color: #1b1b1b;
      font-weight: $font-weight-bold;
      line-height: 40px;
    }

    .subtitle {
      font-size: 24px;
      line-height: 40px;
      color: #1b1b1b;
      font-weight: $font-weight-bold;
      margin-bottom: 5px;
    }

    p {
      color: #333;
      padding: 0 15px;
    }
    
    .websites { 
      background: url('../images/services-cms.jpg') center 220px no-repeat; 
      padding: 0 0 200px 0;
    }
    .applications { 
      background: url('../images/services-development.png') center 220px no-repeat; 
      padding: 0 0 200px 0;
    }
    .ui { 
      background: url('../images/services-userexperience.jpg') center 170px no-repeat; 
      padding: 0 0 200px 0;
    }
    .consulting { 
      background: url('../images/services-consulting.jpg') center 170px no-repeat; 
      padding: 0 0 200px 0;
    }
  }
  
  .secondary {
    margin-top: 30px;
    margin-bottom: 30px;
    color: #1b1b1b;
    
    h4 {
      font-size: 18px;
      line-height: 30px;
    }
    
    li {
      font-size: 14px;
      line-height: 24px;
    }
    
  }
  
}

/* END <SERVICES> */

/* BEGIN <PORTFOLIO> */

section.portfolio {
  border-top: 0;
  border-bottom: 0;
  background: url('../images/portfolio-bg.jpg') top left repeat-x;
  height: 675px;
  padding-top: 30px;
  
  h2 {
    text-indent: -9999px;
    background: url('../images/portfolio-title.png') center left no-repeat;
    height: 31px;
    margin-bottom: 30px;
  }
  
  .projects {
    background: url('../images/portfolio-container.png') 0px 0 no-repeat;
    height: 541px;
    width: 945px;
    position: relative;
    left: -2px;
    
      .visuals {
        height: 475px;
        position: relative;
        
        .visual {
          height: 475px;
          position: absolute;
          width: 945px;
          
          img {
            position: absolute;
            bottom: 0;
            left: 63px;
          }
          
          &::before {
            background-image: url('../images/portfolio-visual-shadow-left.png');
            content: "";
            display: block;
            width: 26px;
            height: 429px;
            position: absolute;
            bottom: 0;
            left: 36px;
          }
          
          &::after {
            background-image: url('../images/portfolio-visual-shadow-right.png');
            content: "";
            display: block;
            width: 26px;
            height: 429px;
            position: absolute;
            bottom: 0;
            right: 36px;
          }
          
        }
      }
      
      .control-bar, .control-bar a, .control-bar a:active, .control-bar h3 {
        line-height: 56px;
        height: 56px;
        font-size: 18px;
        font-weight: $font-weight-bold;
        font-family: $font-family-primary;
        color: #ebbca3;
        text-shadow: 0 1px 0 rgba(0, 0, 0, 0.7);
      }
      
      .control-bar {
        position: relative;
        
        a {
          position: absolute;
          right: -1px;
          text-indent: 30px;
          width: 179px;
          background: url('../images/portfolio-button-arrow.png') 132px 9px no-repeat;
          
          &:active {
            color: #ac785d;
            background: url('../images/portfolio-button-pressed.png') top left no-repeat;
            padding-top: 4px;
            top: -2px;
          }
          
          &:hover {
            text-decoration: none;
          }
        }
        
        ul {
          position: absolute;
          left: 50%;
          top: 13px;
          margin-left: -26px; 
          
          li {
            float: left;
            text-indent: -9999px;
            background: url('../images/portfolio-project-unselected.png') top left no-repeat;
            height: 26px;
            width: 24px;
            margin-right: 2px;
            cursor: pointer;
          }
          
          li.selected {
            background-image: url('../images/portfolio-project-selected.png');
          }
        }
        
        h3 {
          position: absolute;
          left: 15px;
        }
      }
      
  }
}

/* END <PORTFOLIO> */

/* BEGIN <ABOUT US> */

section.about-us {
  
  background: url('../images/aboutus-wallshadow.jpg') bottom left repeat-x;
  border-bottom: 1px solid #d7d7d7;
  
  header {
    border-bottom: 1px solid #d7d7d7;
    height: 80px;
    color: #1b1b1b;
    position: relative;
    
    h2 {
      font-size: 32px;
      line-height: 80px;
      float: left;
    }
    
    ul.statements {
      position: absolute;
      left: 50%;
      top: 50%;
      margin-top: -22px;
      margin-left: -117px;
      text-align: center;
      
      li {
        float: left;
        margin-right: 10px;
        
        a {
          color: #1b1b1b;
          width: 112px;
          height: 43px;
          line-height: 43px;
          display: block;
          font-size: 18px;
          
          &:hover { text-decoration: none; }
        }

        &.selected a {
          @include asset-sprite(aboutus-green-button);
          color: #012f00;
          text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
        }
      }
    }
    
    ul.mates {
      position: absolute;
      right: 0;
      top: 50%;
      margin-top: -25px;
      
      li {
        float: left;
        margin-left: 10px;
        
        a {
          height: 48px;
          width: 48px;
          text-indent: -9999px;
          display: block;
          border-radius: 5px;
          @include box-shadow(1, #000000);
          
          &:active {
            position: relative;
            top: 2px;
          }
        }
        
        &.selected a {
          border: 1px solid #14d605;
        }
        
        &.dave-jafari a { @include asset-sprite(aboutus-dave); }
        &.trent-kocurek a { @include asset-sprite(aboutus-trent); }
        &.despi-raggousis a { @include asset-sprite(aboutus-despi); }
      
      }
      
    }
    
  }
  
  $height: 620;
  
  .content {
    height: unquote($height + "px");
    color: #5c5c5c;
    font-size: 16px;
    margin-bottom: 0;
    
    h3 {
      color: #333;
      font-size: 24px;
      font-weight: $font-weight-bold;
      line-height: 32px;
      margin-bottom: 9px;
    }
    
    .item {
      height: unquote($height + "px");
    }
    
    .role {
      font-size: 16px;
      margin-bottom: 8px;
      font-family: $font-family-primary;
      font-weight: $font-weight-normal;
    }
    
    .social {
      a {
        float: left;
        height: 48px;
        width: 48px;
        text-indent: -9999px;
        
        background-repeat: no-repeat;
        background-image: url('../images/media-icons.png');
      }
      
      a:active { position: relative; top: 2px; }
      
      .linked-in { background-position: 0 -300px; }
      .linked-in:hover { background-position: 0 -350px; }
      .google-plus { background-position: 0 -400px; }
      .google-plus:hover { background-position: 0 -450px; }
      .github { background-position: 0 -500px; }
      .github:hover { background-position: 0 -550px; }
      .blog { background-position: 0 -600px; }
      .blog:hover { background-position: 0 -650px; }
      .twitter { background-position: 0 -700px; }
      .twitter:hover { background-position: 0 -750px; }
      
    }
    
    .our-values {
      
      .copy {
        height: unquote($height - 30 + "px");
        padding: 30px 500px 0 0;
        position: relative;
        
        h3 { text-align: center; }
        
        .headline { 
          position: absolute;
          left: 510px;
          top: 130px;
          font-size: 36px;
          line-height: 52px;
          font-style: italic;
          color: #999;
          width: 410px;
        }
        
      }
    }
    
    .how-we-work {
      
      .copy {
        height: unquote($height - 30 + "px");
        padding: 30px 60px 0 440px;
        position: relative;
        
        h3 { text-align: center; }
        
        .headline { 
          position: absolute;
          left: 125px;
          top: 30px;
          @include box-shadow(1, #000);
        }
        
      }
    }
    
    .trent-kocurek { 
      
      .copy {
        height: 500px;
        padding: 120px 450px 20px 30px;
        background: url('../images/aboutus-trentk.png') 625px unquote($height - 580 + "px") no-repeat;
      }
      
    }
  }
  
}

/* END <ABOUT US> */

/* BEGIN <CONTACT> */

.contact {
  color: #1a1a1a;
  border-color: #542437;
  background-color: #ffedf4;
  background-image: url("../images/cityscape.gif");
  background-position: bottom center;
  background-repeat: repeat-x;
  padding: 30px 0 320px 0;
}

  .contact .container_16 { padding-top: 20px; }

  .contact h2, .contact h3 {
    color: #542437;
  }
  
  .contact h2 {
    font-size: 32px;
  }
  
  .contact h3 {
    font-size: 24px;
  }

  .contact a.button {
  }
  
  .contact a.button:hover {
    color: #542437;
    border-color: #542437;
  }
  
  .contact .form-input {
    margin-bottom: 8px;
  }
  
  .contact p, 
  .contact hr {
    margin-bottom: 16px;
  }

.contact-us {}

  .contact-us label {
    display: block;
    color: #999;
    font-size: 18px;
  }
  
  .contact-us .name, .contact-us .email { width: 48%; float: left; }
  .contact-us .name { margin-right: 4%; }
  
  .contact-us input, .contact-us textarea {
    border: 1px solid #999;
    font-size: 16px;
    padding: 8px 6px;
    width: 287px;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, .1);
    -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, .1);
    -moz-box-shadow: inset 0px 1px 1px;
  }
  
  .contact-us textarea {
    width: 608px;
  }
  
    .contact-us input.selected, .contact-us textarea.selected {
      border-color: #542437;
    }

  .contact .contact-us .actions {
    font-size: 14px;
    line-height: 32px;
    height: 32px;
    
    .button {
      color: #aaa;
      font-size: 14px;
      line-height: 32px;
      height: 32px;
      border-color: #a1a1a1;
      background-color: white;
      margin: 0 0 10px 0;
      float: right;
      padding: 0 18px;
    }
  }
  
    .contact .contact-us .actions .button:hover {
      border-color: #542437;
      color: #542437;
    }
  
.media {}

  .media li {
    margin-bottom: 10px;
  }
    
  .media p {
  }

  .media a {
    margin-left: 2px;
    color: #999;
    text-decoration: none;
    display: block;
    line-height: 42px;
    font-size: 18px;
    padding-left: 54px;
    background-image: url('../images/media-icons.png');
    background-repeat: no-repeat;
  }
  
    .media a:hover {
      color: #542437;
    }
  
    .media li.email a {
      background-position: 0 0;
    }
    
    .media li.email a:hover {
      background-position: 0 -50px;
    }
    
    .media li.twitter a {
      background-position: 0 -100px;
    }
    
    .media li.twitter a:hover {
      background-position: 0 -150px;
    }
    
    .media li.facebook a {
      background-position: 0 -200px;
    }
    
    .media li.facebook a:hover {
      background-position: 0 -250px;
    }

/* END <CONTACT> */

/* BEGIN <FOOTER> */


/* END <FOOTER> */

// Landscape phones and down
@media (max-width: 480px) { 
  @import "phone";
}

// Landscape phone to portrait tablet
@media (max-width: 768px) {
   @import "tablet"
}

// landscape tablet and desktop
@media (min-width: 768px) { 
  header.primary {
    position: fixed;
    top: 0;
    width: 100%;
  }
  section.home {
    margin-top: 69px;
  }
}