<!DOCTYPE html>
<html>
	<head>
	<meta name="viewport" content="width=1084px" />
	<title>Urban Coding Business Application Development</title>
	<link rel="stylesheet" href="stylesheets/urbancoding2.css" media="screen"/> 
	<link rel="stylesheet" href="stylesheets/handheld.css" media="handheld, only screen and (max-device-width:480px)"/>
	<link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow:regular,bold' rel='stylesheet' type='text/css'>
    
	<!--[if lt IE 9]>
	<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	
	<script src="http://code.jquery.com/jquery-1.6.1.min.js" type="text/javascript"></script>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-933690-7']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
</head>
<body class='{{page.bodyClass}}'>
    {{content}}
	<script src="javascripts/urbancoding2.js" type="text/javascript"></script>
</body>
</html>
